/* Disable uppercase title */
.sidebar__introduction-title {
    text-transform: none;
}

/* Disable uppercase navbar */
.nav__list-item {
    text-transform: none;
}

/* Font settings */
* {
    font-family: helvetica neue, Arial, sans-serif, pinghei, pingfang sc, work sans, hiragino sans gb
}