/* Disable uppercase title */
.sidebar__introduction-title {
    text-transform: none;
}

/* Disable uppercase navbar */
.nav__list-item {
    text-transform: none;
}

/* Temporary workaround: https://github.com/lxndrblz/anatole/issues/406 */
* {
    /* font-family: monospace, helvetica neue, Arial, sans-serif, pinghei, pingfang sc, work sans, hiragino sans gb; */
    font-family: inherit;
}

body {
    font-family: 'Helvetica Neue', 'Arial', 'PingHei', 'PingFang SC', 'Work Sans', 'Hiragino Sans GB', sans-serif;
}