/* Disable uppercase sidebar__introduction-title */
.sidebar__introduction-title {
    text-transform: none;
}

/* Disable uppercase nav__list-item */
.nav__list-item {
    text-transform: none;
}

/* Disable uppercase archive__list-title */
.archive__list-title {
    text-transform: none;
}

/* Temporary workaround: https://github.com/lxndrblz/anatole/issues/406 */
* {
    font-family: inherit;
}

body {
    font-family: 'Helvetica Neue', 'Arial', 'PingHei', 'PingFang SC', 'Work Sans', 'Hiragino Sans GB', sans-serif;
}